<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <article>
                <p>
                    <a href="/products">Go back to products</a>
                </p>
            </article>
            <hr>
            <header>
                <h1>
                    {{ data.product.title }}
                </h1>
            </header>
        </div>

    </div>

</div>